:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --secondary-dark-bg-color: #2f303a;
  --secondary-light-bg-color: #f5f4fa;
  --primary-bg-color: #ffffff;
}

body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
}

.logo {
  color: #000000;
}

.list {
  list-style: none;
}

.contacts .link {
  color: var(--primary-text-color);
}

.first-part-logo,
.site-nav .link:hover,
.site-nav .link:focus,
.contacts .link:hover,
.contacts .link:focus,
.footer-contact:hover,
.footer-contact:focus,
.contacts .link:hover,
.contacts .link:focus {
  color: var(--accent-color);
}

.hero-title,
.footer-logo,
.footer-address {
  color: var(--primary-bg-color);
}

.site-nav .link,
.quality-title,
.work-title,
.team-title,
.team-member,
.portfolio-project {
  color: var(--title-text-color);
}

.portfolio-button {
  color: var(--title-text-color);
  background-color: var(--secondary-light-bg-color);
}

.hero-button,
.portfolio-button:hover {
  color: var(--primary-bg-color);
  background-color: var(--accent-color);
}

.footer-contact {
  color: rgba(255, 255, 255, 0.6);
}
